- title { "#{t('activerecord.models.direction').capitalize} : #{t(:remove)}" }
%h2= tws :remove_confirmation
- form_for @direction, :html => { :method => 'delete' } do |f|
  = link_to t(:cancel), @direction
  = submit_tag t(:yes)
