- title { tws(:identification).capitalize }
- form_tag(url_for(:controller => :session, :action => :create)) do
  %div
    = label_tag :login, tws(:login)
    = text_field_tag :login
  %div
    = label_tag :password, tws(:password)
    = password_field_tag :password
  %div= submit_tag tws(:log_in)
