- form_for keyword do |f|
  = f.error_messages
  %p
    = f.label :word
    = f.text_field :word
  %p
    - new = keyword.new_record?
    = link_to t(:cancel), new ? keywords_path : @keyword
    = f.submit t(new ? :create : :update)
