- title { "#{t('activerecord.models.keyword').capitalize} : #{t(:remove)}" }
%h2= tws :remove_confirmation
- form_for @keyword, :html => { :method => 'delete' } do |f|
  = link_to t(:cancel), @keyword
  = submit_tag t(:yes)
