- form_for post do |f|
  .group
    = f.label :title
    = f.error_message_on :title
    = f.text_field :title
  .group
    = f.label :keywords_by_word, t('activerecord.models.keywords')
    = f.text_field :keywords_by_word
  .group
    = f.label :text
    = f.error_message_on :text
    = f.text_area :text
  .group
    - new = post.new_record?
    = link_to t(:cancel), new ? posts_path : post
    = f.submit t(new ? :create : :update)
