<% form_for post do |f| -%>
        <%= f.error_messages %>
        <div>
                <%= f.label :title %>
                <%= f.text_field :title %>
        </div>
        <div>
                <%= f.label :text %>
                <%= f.text_area :text %>
        </div>
        <div>
                <%= f.submit t(post.new_record? ? :create : :update) %>
        </div>
<% end -%>
