<html>
  <head>
    <title><%= title %></title>
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
    <%= stylesheet_link_tag 'application', :media => 'screen' %>
  </head>
  <body>
    <h1><%= title %></h1>
    <% if flash[:notice] -%>
      <div id="notices"><%= flash[:notice] %></div>
    <% end -%>
    <%= yield %>
  </body>
</html>
